@import url("reset.css");

/* Testing purpose 
body {
    background: pink;
}
*/
/* Top Navigation */
.flex-container-1 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#dummy {
    flex-basis: 55%;
}

/* Google logo */
.flex-container-2 {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: flex-end;
}
img {
    height: 100px;
}

/* Search area */
.flex-container-3 {
    display: flex;
    justify-content: center;
}
input[type=text] {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-image: url("images/search-icon.png");
    background-size: 25px 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;    
  }
  /* Buttons below search area */
  .flex-container-4 {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
#b1, #b2{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 10px;
}

/* Dummy container to push the footer to the bottom*/
.flex-container-5 {
    display: flex;
    height: 163px;
   /* background: yellow; For testing*/
}

/* Footer - Bottom navigation*/
.flex-container-6 {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background: #f2f2f2;
    border: 1px solid #e4e4e4;
    color: rgba(0,0,0,.54);
}

#dummy2 {
    flex-basis: 45%;
}
