@import url("reset.css");

a {
    text-decoration: none;
}
.flex-container-1 {
    display: flex;
}
.flex-item {
    margin: 10px;
    padding: 5px;
}
#dummy {
    flex-basis: 55%;
}
.flex-container-2 {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: flex-end;
}
img {
    height: 100px;
}
.flex-container-3 {
    display: flex;
    justify-content: center;
}
input[type=text] {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-image: url("images/search-icon.png");
    background-size: 25px 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;    
  }
  .flex-container-4 {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
#b1, #b2{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 10px;
}
.flex-container-5 {
    display: flex;
    height: 200px;
    align-items: flex-end;
}

.flex-container-5 > #dummy {
    flex-basis: 45%;
}
